.container {
  display: flex;
  position: relative;
  background: var(--background-input);
  border-radius: 0.35rem;
  width: 100%;
  height: 3.42rem;
  padding: 0 0.35rem 0 0.35rem; /* на проверке отступ от края для текста инпута */
}

.label {
  position: absolute;
  color: var(--dark-pink);
  left: 1.07rem;
  top: 1.07rem;
  font-size: 1rem;
  z-index: 1;
  transition: transform 0.15s ease-out, font-size 0.15s ease-out;
}
.input:focus + .label,
.input:not([value='']) + .label {
  transform: translate(-5%, -75%);
  font-size: 0.71rem;
}

.input {
  width: 100%;
  padding-top: 0.71rem; /* на проверке отступ инпута от лейбла*/
  box-sizing: border-box;
  border: none;
  font-size: 0.85rem;
  background-color: transparent;
}

.container:active,
.container:focus,
.container:hover {
  caret-color: var(--caret);
  background-color: var(--pink);
}

.input:hover,
.input:focus,
.input:active {
  outline: none;
}

.error {
  background: var(--error);

  &::placeholder {
    color: var(--background-input);
  }
}

.helper_text {
  color: var(--dark-pink);
  font-weight: 300;
  font-size: 0.71rem;
  line-height: 1rem;
  padding-left: 0.71rem;
}

.indicator_container ~ .input_container {
  width: 85%;
  padding-right: 0;
}

.indicator_container ~ .input:disabled {
  background-color: red;
}
