.password_toggle_container {
  position: relative;
  cursor: pointer;
}

.password_toggle {
  position: absolute;
  height: 1.93rem;
  width: 1.93rem;
  top: 0.71rem;
  right: 0.5rem;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}
