.password_rule_container {
  color: var(--black);
  display: flex;
  align-items: center;
}

.password_rule {
  font-weight: 600;
  display: inline-block;
  margin: 0 0.35rem;
}

.password_rule_correct {
  color: var(--button-action-shadow);
}

.password_rule_uncorrect {
  color: var(--dark-orange);
}

.password_rule_icon_container {
  width: 1.28rem;
  margin-right: 0.71rem;
  display: inline-block;
}

.password_rule_correct_icon {
  width: 1rem;
  height: 1rem;
  background-image: var(--image-checkmark);
}

.password_rule_uncorrect_icon {
  width: 1.28rem;
  height: 1.21rem;
  background-image: var(--image-warning);
}
